@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line-gradient {
  background: hsla(0, 0%, 100%, 1);

  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 59%, 1) 50%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 59%, 1) 50%,
    hsla(0, 0%, 100%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 59%, 1) 50%,
    hsla(0, 0%, 100%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#969696", GradientType=1 );
}
